# cache
.mypy_cache
.pytest_cache
.tox
**/__pycache__


# environment
.env

# requirements
requirements.txt
requirements.dev.txt

# dataset and vocab
dataset/**
**/vocab.txt
**/*.txt

# model
trained_model/**